In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#import plotnine as pn
from datetime import datetime
import math

In [4]:
df_train = pd.read_csv('Data/train.csv')
df_store = pd.read_csv('Data/store.csv')

C:\Users\jagan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,12/26/2014,0,0,0,0,c,1
1,2,5,12/26/2014,0,0,0,0,c,1
2,3,5,12/26/2014,0,0,0,0,c,1
3,4,5,12/26/2014,0,0,0,0,c,1
4,5,5,12/26/2014,0,0,0,0,c,1

In [6]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
df_train.Date.max()

'9/9/2014'

In [33]:
df_store.PromoInterval.unique()

array([nan, 'Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'],
      dtype=object)

In [10]:
df_train['Date'] = pd.to_datetime(df_train['Date'])

In [11]:
df_train['Date'] = df_train['Date'].apply(lambda dt: dt.replace(day=1))

In [12]:
df = pd.merge(df_train, df_store, on='Store')
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2014-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2014-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,4,2013-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,3,2013-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-04-01,0,0,0,0,b,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [13]:
df.shape

(1017209, 18)

In [14]:
StoreSalesWithPromo=df.loc[df['Promo2'] == 1]

In [15]:
StoreSalesWithOutPromo=df.loc[df['Promo2'] == 0]

In [22]:
PromoStoresGroupBy = StoreSalesWithPromo.groupby(['Date'], sort = True)

In [23]:
NoPromoStoresGroupBy = StoreSalesWithOutPromo.groupby(['Date'], sort = True)

In [24]:
PromoStoresAvgCustomerSpending = pd.DataFrame ({"TotalStores" : PromoStoresGroupBy.Store.nunique(), "TotalSales" : PromoStoresGroupBy.Sales.sum(), "TotalCustomerCount" : PromoStoresGroupBy.Customers.sum(), "AvgCustomerCountPerStore" : (PromoStoresGroupBy.Customers.sum()/PromoStoresGroupBy.Store.nunique()).astype(int), "AverageCustomerSpending" : PromoStoresGroupBy.Sales.sum()/PromoStoresGroupBy.Customers.sum() })

In [25]:
NoPromoStoresAvgCustomerSpending = pd.DataFrame ({"TotalStores" : NoPromoStoresGroupBy.Store.nunique(), "TotalSales" : NoPromoStoresGroupBy.Sales.sum(), "TotalCustomerCount" : NoPromoStoresGroupBy.Customers.sum(), "AvgCustomerCountPerStore" : (NoPromoStoresGroupBy.Customers.sum()/NoPromoStoresGroupBy.Store.nunique()).astype(int), "AverageCustomerSpending" : NoPromoStoresGroupBy.Sales.sum()/NoPromoStoresGroupBy.Customers.sum() })

In [26]:
PromoStoresAvgCustomerSpending.head()

,TotalStores,TotalSales,TotalCustomerCount,AvgCustomerCountPerStore,AverageCustomerSpending
Date,,,,,
2013-01-01,571,86358696,9311452,16307,9.274461
2013-02-01,571,82083067,8775098,15367,9.354091
2013-03-01,571,96951584,10091187,17672,9.607550
2013-04-01,571,87921426,9521860,16675,9.233640
2013-05-01,571,88230017,9360034,16392,9.426250

In [27]:
PromoStoresAvgCustomerSpending.shape

(31, 5)

In [72]:
NoPromoStoresAvgCustomerSpending.head()

,TotalStores,TotalSales,TotalCustomerCount,AvgCustomerCountPerStore,AverageCustomerSpending
Date,,,,,
2013-01-01,544,93773511,11068971,20347,8.471746
2013-02-01,544,89451208,10469370,19245,8.544087
2013-03-01,544,104228785,11878275,21835,8.774741
2013-04-01,544,95510006,11360505,20883,8.407197
2013-05-01,544,97181046,11363852,20889,8.551770

From the above two datasets, we could see the Average customer Spending is more in Stores with continuous Promo

In [29]:
AssortmentGroupBy = df_store.groupby(['Assortment'], sort = True)

In [32]:
AssortmentAverageCompetitonDistance = pd.DataFrame ({"No Of Sotres" : AssortmentGroupBy.Store.nunique(), "Customer Count" : AssortmentGroupBy.Customers.sum(), "Sales" : AssortmentGroupBy.Sales.sum(), "Average Customer Spending" : AssortmentGroupBy.Sales.sum()/AssortmentGroupBy.Customers.sum()})

AttributeError: 'DataFrameGroupBy' object has no attribute 'Customers'

In [30]:
AssortmentAverageCompetitonDistance = pd.DataFrame ({"No Of Sotres" : AssortmentGroupBy.Store.nunique(), "Average Competition Distance" : AssortmentGroupBy.CompetitionDistance.mean()/1609.344, "Total No Of Promo Stores" : AssortmentGroupBy.Promo2.sum(), "Percent PromoStores to Total Stores" : (AssortmentGroupBy.Promo2.sum()/AssortmentGroupBy.Store.nunique())*100})

In [31]:
AssortmentAverageCompetitonDistance

,No Of Sotres,Average Competition Distance,Total No Of Promo Stores,Percent PromoStores to Total Stores
Assortment,,,,
a,593,2.734244,304,51.264755
b,9,0.731837,4,44.444444
c,513,4.125140,263,51.267057

In [56]:
StoreWithPromo=df_store.loc[df_store['Promo2'] == 1]

In [58]:
StoreWithNoPromo=df_store.loc[df_store['Promo2'] == 0]

In [67]:
StoreWithPromoGroupBy = StoreWithPromo.groupby(['StoreType'], sort = True)

In [68]:
PromoStoreAverageCompetitonDistance = pd.DataFrame ({"No Of Sotres" : StoreWithPromoGroupBy.Store.nunique(), "Average Competition Distance" : StoreWithPromoGroupBy.CompetitionDistance.mean()/1609.344, "Total No Of Promo Stores" : StoreWithPromoGroupBy.Promo2.sum(), "Percent PromoStores to Total Stores" : (StoreWithPromoGroupBy.Promo2.sum()/StoreWithPromoGroupBy.Store.nunique())*100})

In [69]:
PromoStoreAverageCompetitonDistance

,No Of Sotres,Average Competition Distance,Total No Of Promo Stores,Percent PromoStores to Total Stores
StoreType,,,,
a,289,2.318252,289,100.0
b,5,0.753102,5,100.0
c,75,1.778861,75,100.0
d,202,3.590413,202,100.0

In [70]:
StoreWithNoPromoGroupBy = StoreWithNoPromo.groupby(['StoreType'], sort = True)

In [71]:
NoPromoStoreAverageCompetitonDistance = pd.DataFrame ({"No Of Sotres" : StoreWithNoPromoGroupBy.Store.nunique(), "Average Competition Distance" : StoreWithNoPromoGroupBy.CompetitionDistance.mean()/1609.344, "Total No Of Promo Stores" : StoreWithNoPromoGroupBy.Promo2.sum(), "Percent PromoStores to Total Stores" : (StoreWithNoPromoGroupBy.Promo2.sum()/StoreWithNoPromoGroupBy.Store.nunique())*100})

In [72]:
NoPromoStoreAverageCompetitonDistance

,No Of Sotres,Average Competition Distance,Total No Of Promo Stores,Percent PromoStores to Total Stores
StoreType,,,,
a,313,3.984622,0,0.0
b,12,0.619818,0,0.0
c,73,2.610014,0,0.0
d,146,5.273084,0,0.0

In [73]:
PromoGroupBy = df_store.groupby(['Promo2'], sort = True)

In [76]:
PromoByAverageCompetitionDistance = pd.DataFrame ({"No Of Sotres" : PromoGroupBy.Store.nunique(), "Average Competition Distance" : PromoGroupBy.CompetitionDistance.mean()/1609.344 })

In [77]:
PromoByAverageCompetitionDistance

        No Of Sotres  Average Competition Distance
Promo2
0                544                      4.069683
1                571                      2.682154

In [79]:
df_train.DayOfWeek.unique()

array([5, 4, 3, 1, 2, 6, 7], dtype=int64)

In [81]:
StoreOpenSales = df_train.loc[df_train['Open'] == 1]

In [83]:
DayOfWeekOpenGroupBy = StoreOpenSales.groupby(['DayOfWeek'], sort = True)

In [84]:
DayofWeekSalesByStoreType = pd.DataFrame ({"Total Customer Count" : DayOfWeekOpenGroupBy.Customers.sum(), "Total sales" : DayOfWeekOpenGroupBy.Sales.sum()})

In [85]:
DayofWeekSalesByStoreType

           Total Customer Count  Total sales
DayOfWeek
1                     117675012   1130203012
2                     110848063   1020411930
3                     105117642    954962863
4                     101732938    911177709
5                     108384820    980555941
6                      95103854    846317735
7                       5179426     29551433