In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#import plotnine as pn
from datetime import datetime
import math

In [53]:
df_train = pd.read_csv('Data/train.csv')
df_store = pd.read_csv('Data/store.csv')

C:\Users\jagan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
df_train.Date.max()

'9/9/2014'

In [55]:
df_store.Promo2SinceYear.unique()

array([  nan, 2010., 2011., 2012., 2009., 2014., 2015., 2013.])

In [56]:
df_train['Date'] = pd.to_datetime(df_train['Date'])

In [57]:
df_train['Date'] = df_train['Date'].apply(lambda dt: dt.replace(day=1))

In [58]:
df = pd.merge(df_train, df_store, on='Store')
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2014-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2014-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,4,2013-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,3,2013-12-01,0,0,0,0,c,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-04-01,0,0,0,0,b,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [59]:
StoreSalesWithPromo=df.loc[df['Promo2'] == 1]

In [60]:
StoreSalesWithOutPromo=df.loc[df['Promo2'] == 0]

In [61]:
PromoStoresGroupBy = StoreSalesWithPromo.groupby(['Date'], sort = True)

In [62]:
NoPromoStoresGroupBy = StoreSalesWithOutPromo.groupby(['Date'], sort = True)

In [69]:
PromoStoresAvgCustomerSpending = pd.DataFrame ({"TotalStores" : PromoStoresGroupBy.Store.nunique(), "TotalSales" : PromoStoresGroupBy.Sales.sum(), "TotalCustomerCount" : PromoStoresGroupBy.Customers.sum(), "AvgCustomerCountPerStore" : (PromoStoresGroupBy.Customers.sum()/PromoStoresGroupBy.Store.nunique()).astype(int), "AverageCustomerSpending" : PromoStoresGroupBy.Sales.sum()/PromoStoresGroupBy.Customers.sum() })

In [70]:
NoPromoStoresAvgCustomerSpending = pd.DataFrame ({"TotalStores" : NoPromoStoresGroupBy.Store.nunique(), "TotalSales" : NoPromoStoresGroupBy.Sales.sum(), "TotalCustomerCount" : NoPromoStoresGroupBy.Customers.sum(), "AvgCustomerCountPerStore" : (NoPromoStoresGroupBy.Customers.sum()/NoPromoStoresGroupBy.Store.nunique()).astype(int), "AverageCustomerSpending" : NoPromoStoresGroupBy.Sales.sum()/NoPromoStoresGroupBy.Customers.sum() })

In [71]:
PromoStoresAvgCustomerSpending.head()

,TotalStores,TotalSales,TotalCustomerCount,AvgCustomerCountPerStore,AverageCustomerSpending
Date,,,,,
2013-01-01,571,86358696,9311452,16307,9.274461
2013-02-01,571,82083067,8775098,15367,9.354091
2013-03-01,571,96951584,10091187,17672,9.607550
2013-04-01,571,87921426,9521860,16675,9.233640
2013-05-01,571,88230017,9360034,16392,9.426250

In [72]:
NoPromoStoresAvgCustomerSpending.head()

,TotalStores,TotalSales,TotalCustomerCount,AvgCustomerCountPerStore,AverageCustomerSpending
Date,,,,,
2013-01-01,544,93773511,11068971,20347,8.471746
2013-02-01,544,89451208,10469370,19245,8.544087
2013-03-01,544,104228785,11878275,21835,8.774741
2013-04-01,544,95510006,11360505,20883,8.407197
2013-05-01,544,97181046,11363852,20889,8.551770

From the above two datasets, we could see the Average customer Spending is more in Stores with continuous Promo